@media (max-width: 1199px) {
  .scroll-up {
    padding: 0 0.9rem 0.2rem 0.9rem;
    font-size: 1.7rem;
  }

  .header {
    display: block;

    &-burger {
      height: 2rem;
    }
  }

  .main {
    &-header {
      display: none;
    }
  }

  .awards {
    &-header {
      margin-left: 7rem;
      margin-right: 7rem;
    }
  }

  .business {
    &-title {
      padding-left: 30rem;
      width: 105rem;
    }
  }

  .cases {
    &-subheader {
      margin: 1.5rem 30rem;
    }

    &-title {
      padding: 2rem 1rem;

      &__link {
        font-size: 2.2rem;
      }
    }
  }

  .strategy {
    &-subheader {
      margin: 1.5rem 20rem;
    }

    &-img {
      top: 5rem;
      left: -30%;
    }

    &-block {
      padding: 3rem;
    }
  }

  .squad {
    .container {
      margin: 0;
      max-width: 100%;
    }

    &-subheader {
      margin: 1.5rem 30rem;
    }

    &-block {
      height: 50rem;
      transform: scale(0.95);

      &:hover {
        .squad-img {
          filter: none;
        }

        .squad-box::before {
          background-color: #ddd;
        }

        .squad-social {
          right: 50%;
          transform: translateX(50%);
        }
      }
    }

    &-button {
      display: none;
    }

    &-box {
      height: 36rem;
    }

    &-social {
      top: 41rem;
      right: 50%;
      opacity: 1;
      transform: translateX(50%);

      &__link {
        background-color: #ddd;
      }
    }
  }

  .success {
    &-title {
      padding-right: 1rem;
    }
  }

  .news {
    &-subheader {
      margin: 1.5rem 20rem;
    }

    &-block {
      min-height: 43rem;
    }

    &-title {
      padding: 2rem;
      text-align: center;
    }
  }

  .footer {
    &-form {
      &__input {
        padding-left: 2rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .main {
    padding: 0 1rem 15rem 1rem;

    .container {
      margin: 0;
      width: 100%;
    }

    .title {
      margin-top: 17rem;
    }

    .images {
      margin-top: 5rem;

      &-big {
        top: 0;
        left: 5rem;
        transform: scale(0.8);
      }

      &-small {
        top: 30rem;
        transform: scale(0.6);
      }

      .zigzag {
        transform: scale(0.7);

        &-pink {
          top: 10rem;
          left: 5rem;
        }

        &-blue {
          top: 13rem;
          left: 10rem;
        }
      }
    }
  }

  .features {
    .container {
      padding: 0 3rem;
      max-width: 100%;
    }

    &-block {
      padding: 2rem;
      min-height: 29.5rem;
    }
  }

  .awards {
    &-header {
      font-size: 4.5rem;
      margin: 0 0 5rem 0;
    }

    &-button {
      margin-top: 2rem;
    }

    &-links {
      margin-left: 1rem;
    }
  }

  .business {
    &-title {
      padding-bottom: 5rem;
      width: 90rem;
    }

    &-numbers {
      &__counter {
        display: block;
      }
    }

    &-button {
      left: 65rem;
      bottom: 5rem;
    }
  }

  .cases {
    &-subheader {
      margin: 1rem 3rem;
    }

    &-title {
      left: -100%;
      padding: 1.5rem 1rem;
      max-width: none;

      &__link {
        font-size: 1.8rem;
      }

      &__description {
        font-size: 1.4rem;
      }
    }
  }

  .strategy {
    &-subheader {
      margin: 1.5rem 10rem;
    }

    &-wrap {
      margin-top: 4rem;
    }

    &-img {
      position: relative;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &-img-bg {
      display: none;
    }

    &-content {
      margin-top: 5rem;
      grid-gap: 3rem;
    }

    &-block:nth-of-type(n) {
      margin: 0;
    }
  }

  .squad {
    padding-top: 5rem;

    &-subheader {
      margin: 1.5rem 15rem;
    }

    &-block {
      height: 52rem;
      transform: scale(1);
    }
  }

  .success {
    padding-top: 5rem;

    &-header {
      text-align: center;
    }

    &-subheader {
      text-align: center;
    }

    &-title {
      padding-right: 0;
    }

    &-img {
      top: 7rem;
      transform: none;
    }

    &-numbers {
      &__block {
        margin-top: 3rem;
        max-width: 33rem;
      }
    }
  }

  .news {
    &-subheader {
      margin: 1.5rem 10rem;
    }

    &-title {
      position: initial;
      width: 100%;
      text-align: left;
      border: none;
      background-color: transparent;

      &::before {
        content: none;
      }
    }
  }

  .footer {
    &-form {
      margin-top: 3rem;
    }

    &-endnote {
      text-align: center;

      &__created {
        margin-top: 5rem;
        text-align: center;
      }
    }
  }
}

@media (max-width: 767px) {
  .main {
    .title {
      margin-top: 15rem;

      &-subheader {
        padding-right: 3rem;
      }

      &-header {
        font-size: 4rem;
      }
    }

    .images {
      transform: scale(0.9);

      &-big {
        top: -3rem;
        left: 0;
      }

      &-small {
        top: 25rem;
        left: -5rem;
      }

      .zigzag {
        &-pink {
          top: 5rem;
          left: 0;
        }

        &-blue {
          top: 8rem;
          left: 5rem;
        }
      }
    }
  }

  .features {
    &-block {
      margin-bottom: 2rem;
      max-width: none;
      min-height: auto;

      &:hover,
      &:focus {
        transform: scale(1.05);
      }
    }
  }

  .awards {
    &-header {
      margin-bottom: 3rem;
      font-size: 3.5rem;
    }

    &-title {
      text-align: center;
    }

    &-text {
      text-align-last: left;
    }

    &-links {
      margin-top: 5rem;
      margin-left: 0;
    }
  }

  .business {
    &-title {
      padding-top: 30rem;
      padding-bottom: 15rem;
      width: 75rem;
    }

    &-header {
      font-size: 3.5rem;
    }

    &-numbers {
      font-size: 6rem;

      &__text {
        width: 20rem;
        font-size: 1.5rem;
      }
    }

    &-button {
      left: 35rem;
      bottom: -5rem;
      transform: scale(0.8);
    }
  }

  .cases {
    &-header {
      font-size: 3.5rem;
    }

    &-subheader {
      margin: 1rem 9rem;
    }

    .zigzag {
      margin-bottom: 2rem;
    }

    &-content {
      grid-gap: 3rem;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row dense;
    }

    &-block {
      &:nth-of-type(2) {
        grid-column: span 2;
      }

      &:nth-of-type(6) {
        grid-column: span 2;
      }
    }

    &-title {
      padding: 2rem 1rem;
      max-width: none;

      &__link {
        font-size: 2.2rem;
      }

      &__description {
        margin-top: 0.5rem;
        font-size: 1.5rem;
      }
    }
  }

  .strategy {
    padding-bottom: 7rem;

    &-header {
      font-size: 3.5rem;
    }

    &-subheader {
      margin: 1.5rem 0;
    }

    &-img {
      width: 100%;
      height: 100%;
    }

    &-content {
      grid-gap: 2rem;
    }

    &-slider {
      margin-top: 7rem;
    }
  }

  .squad {
    padding-bottom: 5rem;

    &-header {
      font-size: 3.5rem;
    }

    &-subheader {
      margin: 1.5rem 10rem;
    }

    &-block {
      height: 48rem;
      max-width: 65rem;
    }

    &-img {
      width: 25rem;
      height: 25rem;
    }

    &-box {
      top: 11.5rem;
      height: 34rem;
    }

    &-name {
      top: 16rem;
    }

    &-social {
      top: 36rem;
    }
  }

  .success {
    &-header {
      font-size: 3.5rem;
    }

    &-numbers {
      &__block {
        max-width: none;

        span {
          font-size: 4rem;
        }
      }
    }
  }

  .news {
    &-header {
      font-size: 3.5rem;
    }

    &-subheader {
      margin: 1.5rem 2rem;
    }

    &-block {
      max-width: 85%;
    }
  }

  .footer {
    &-header {
      max-width: none;
      font-size: 3.5rem;
    }

    &-content {
      margin: 3rem 0;
    }

    &-social {
      &__link {
        margin-bottom: 2rem;
      }
    }

    &-form {
      &__input {
        padding: 2rem 2rem;
      }

      &__button {
        padding: 2.1rem 2rem;
      }
    }
  }
}

@media (max-width: 575px) {
  .header {
    &-search {
      margin-right: 1.5rem;
    }

    &-link {
      display: none;
    }
  }

  .main {
    .title {
      text-align: center;

      &-subheader {
        margin-bottom: 3rem;
      }
    }
  }

  .business {
    &-header {
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }

    &-title {
      padding-left: 27rem;
      width: 50rem;
      border-right-width: 2rem;
    }

    &-numbers {
      font-size: 4rem;

      &__text {
        margin-left: 1rem;
        width: 10rem;
        font-size: 1.2rem;
      }
    }

    &-button {
      left: 30rem;
      bottom: -3rem;
    }
  }

  .cases {
    padding-top: 7rem;

    &-subheader {
      margin: 1.5rem 0;
    }

    &-content {
      grid-template-columns: repeat(1, 1fr);
    }

    &-block {
      &:nth-of-type(2) {
        grid-column: span 1;
      }

      &:nth-of-type(6) {
        grid-column: span 1;
      }
    }

    &-title {
      max-height: 60%;
    }
  }

  .strategy {
    &-content {
      grid-gap: 3rem;
      grid-template-columns: repeat(1, 1fr);
    }

    &-block {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  .squad {
    &-subheader {
      margin: 1.5rem 3rem;
    }
  }

  .news {
    &-subheader {
      margin: 1.5rem 0;
    }
  }

  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
