@media (max-width: 1199px) {
  .header {
    display: block;

    &-burger {
      height: 2rem;
    }
  }

  .main {
    &-header {
      display: none;
    }
  }

  .awards {
    &-header {
      margin-left: 12rem;
      margin-right: 12rem;
    }
  }

  .business {
    &-title {
      padding-left: 30rem;
      width: 105rem;
    }
  }

  .scroll-up {
    padding: 0 0.9rem 0.2rem 0.9rem;
    font-size: 1.7rem;
  }
}

@media (max-width: 991px) {
  .main {
    padding: 0 1rem 15rem 1rem;

    .container {
      margin: 0;
      width: 100%;
    }

    .title {
      margin-top: 17rem;
    }

    .images {
      margin-top: 5rem;

      &-big {
        top: 0;
        left: 5rem;
        transform: scale(0.8);
      }

      &-small {
        top: 30rem;
        transform: scale(0.6);
      }

      .zigzag {
        transform: scale(0.7);

        &-pink {
          top: 10rem;
          left: 5rem;
        }

        &-blue {
          top: 13rem;
          left: 10rem;
        }
      }
    }
  }

  .features {
    .container {
      padding: 0 3rem;
      max-width: 100%;
    }

    &-block {
      padding: 2rem;
      min-height: 29.5rem;
    }
  }

  .awards {
    &-header {
      margin: 0 0 5rem 0;
    }

    &-button {
      margin-top: 2rem;
    }

    &-links {
      margin-left: 1rem;
    }
  }

  .business {
    &-title {
      padding-bottom: 5rem;
      width: 90rem;
    }

    &-numbers {
      &__counter {
        display: block;
      }
    }

    &-button {
      left: 65rem;
      bottom: 5rem;
    }
  }
}

@media (max-width: 767px) {
  .main {
    .title {
      margin-top: 15rem;

      &-subheader {
        padding-right: 3rem;
      }

      &-header {
        font-size: 4rem;
      }
    }

    .images {
      transform: scale(0.9);

      &-big {
        top: -3rem;
        left: 0;
      }

      &-small {
        top: 25rem;
        left: -5rem;
      }

      .zigzag {
        &-pink {
          top: 5rem;
          left: 0;
        }

        &-blue {
          top: 8rem;
          left: 5rem;
        }
      }
    }
  }

  .features {
    &-block {
      margin-bottom: 2rem;
      max-width: none;
      min-height: auto;

      &:hover,
      &:focus {
        transform: scale(1.05);
      }
    }
  }

  .awards {
    &-header {
      margin-bottom: 3rem;
      font-size: 3.5rem;
    }

    &-title {
      text-align: center;
    }

    &-text {
      text-align-last: left;
    }

    &-links {
      margin-top: 5rem;
      margin-left: 0;
    }
  }

  .business {
    &-title {
      padding-top: 30rem;
      padding-bottom: 15rem;
      width: 75rem;
    }

    &-header {
      font-size: 3.5rem;
    }

    &-numbers {
      font-size: 6rem;

      &__text {
        width: 20rem;
        font-size: 1.5rem;
      }
    }

    &-button {
      left: 35rem;
      bottom: -5rem;
    }
  }
}

@media (max-width: 575px) {
  .header {
    &-search {
      margin-right: 1.5rem;
    }

    &-link {
      display: none;
    }
  }

  .main {
    .title {
      text-align: center;

      &-subheader {
        margin-bottom: 3rem;
      }
    }
  }

  .business {
    &-header {
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }

    &-title {
      padding-left: 27rem;
      width: 50rem;
      border-right-width: 2rem;
    }

    &-numbers {
      font-size: 4rem;

      &__text {
        margin-left: 1rem;
        width: 10rem;
        font-size: 1.2rem;
      }
    }

    &-button {
      left: 30rem;
      bottom: -3rem;
    }
  }
}
